chat-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  input {
    height: 24px;
    display: block;
    margin-top: 4px 0;
  }
}
