chat-menu {
  position: fixed;
  width: 56px;
  height: 100%;
  background-color: #3333ff;

  & hr {
    width: 70%;
    background: #777
  }

  & li {
    margin: 0;
    padding: 24px 0;
    overflow: hidden;
  }
}
